body {
  background-color: #a1a1a1;
}

* {
  font-family: PT Sans, sans-serif;
  font-weight: 400;
  margin-top: 5px;
}

.header-title-text {
  color: #061603;
  font-family: "Roboto Slab";
  font-size: 32px;
  line-height: 1.9em;
  letter-spacing: 13px;
  font-weight: 400;
  font-style: normal;
  margin-top: 5px; 
}

.header-subtitle-text {
  color: #000;
  font-family: "Roboto Slab";
  font-size: 18px;
  line-height: .9em;
  letter-spacing: 3px;
  font-weight: 400;
  font-style: normal;
}

.nav-link-custom {
  color: #5a0202;
  font-family: "Roboto Slab";
  font-size: 18px;
  line-height: 2.1em;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: normal;
}

.nav-link-custom:hover {
  color: #936969;
}

.navlinkclicked {
  color: #f6eaea;
}

#main-container {
  margin-top: 0px;
}

.figcaption-main-page {
  margin-top: 3px;
  color: #000;
  font-size: 12px;
}


.article-text {
  font-size: 16px;
}

.article-title {
  margin-bottom: 40px;
}

.menu-button {
  padding-top: 4px;
  margin-top: 15px;
  margin-left: 2px;
  margin-right: 2px;
}


@media only screen and (max-width: 768px) {
  #header-in-mobile {
    margin-bottom: 2px;
    margin-top: 2px;
    margin-right: 2px;
    padding-right: 2px;
    padding-left: 12px;
  }
  #subheader-in-mobile {
    margin-bottom: 2px;
    padding-left: 12px;
  }
}

@media only screen and (max-width: 468px) {
  #header-large-div {
    width: 83.33333333%;
  }
  #header-small-div {
    width: 16.66666667%;
  }
}

// The reverse case:
@media only screen and (min-width: 468px) {
  #header-large-div {
    width: 91.66666667%;
  }
  #header-small-div {
    width: 8.33333333%;
  }
}
