body {
  background-color: #a1a1a1;
}

* {
  font-family: PT Sans, sans-serif;
  font-weight: 500;
  margin-top: 10px;
}

.header-title-text {
  color: #061603;
  font-family: "Roboto Slab";
  font-size: 32px;
  line-height: 1.9em;
  letter-spacing: 13px;
  font-weight: 400;
  font-style: normal;
}

.header-subtitle-text {
  color: #000;
  font-family: "Roboto Slab";
  font-size: 18px;
  line-height: .9em;
  letter-spacing: 3px;
  font-weight: 400;
  font-style: normal;
}

.nav-link-custom {
  color: #5a0202;
  font-family: "Roboto Slab";
  font-size: 18px;
  line-height: 2.1em;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: normal;
}

.nav-link-custom:hover {
  color: #936969;
}

.navlinkclicked {
  color: #f6eaea;
}

.figcaption-main-page {
  margin-top: 3px;
  color: #000;
  font-size: 12px;
}


.article-text {
  font-size: 16px;
}

.article-title {
  margin-bottom: 40px;
}


@media only screen and (max-width: 768px) {
  #navbar-in-mobile {
    margin-bottom: 2px;
    margin-top: 2px;
  }
  #subheader-in-mobile {
    margin-bottom: 2px;
  }
}
